{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sekoly</title>
		<script src="{% static 'app-bundle.js' %}"></script>
		<link rel="stylesheet" href="{% static 'styles-bundle.js' %}">

	</head>
	<body>
		{% if user.is_authenticated  %}
			{% include "./components/navbar.html" %}
		{% endif %}
		<main class="d-flex">
			{% if user.is_authenticated %}
				{% include "./components/sidebar.html" %}
				{% endif %}
				{% block content %}{% endblock %}
			</main>
			{% block modal %}{% endblock %}
			{% if error_message %}
				<div id="error-message" data-error-message="{{ error_message|escapejs }}"></div>
			{% endif %}

		</body>
</html>
