{% extends "../base.html" %}

{% block content %}
	<div class="container p-3">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Tableau de bord</th>
				</tr>
			</thead>
			<tbody>
				{% for model_name_plural in model_names_plural %}
					<tr>
						<td class="text-capitalize">
							<a class="text-decoration-none" href="{% url model_name_plural %}">{{ model_name_plural }}</a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
{% endblock %}
