{% extends "../base.html" %}

{% block content %}
	<div class="container p-3 d-flex flex-column gap-3">
		<div class="d-flex">
			<a class="btn btn-primary d-flex" href="{% url 'classes add' %}">Ajout classe
				<span class="material-icons-outlined">
				add
				</span>
			</a>
		</div>
		<table class="table table-sm table-responsive">
			<thead>
				<tr>
					<th>List des classes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for class in classes %}
						<td>
							{{class}}
						</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
